<header class="relative w-full xs:w-[300px] mb-12 bg-dark" role="banner">
  <a href="/" aria-label="Home">
    <h1 class="pt-32 xxs:pt-40 print:pt-14 pb-5 pl-5">
      <img alt="beta_interactive" src="/bi-logo.svg" width="203" height="19" />
    </h1>
  </a>
</header>