<header
  class="relative h-[170px] w-full xs:w-[300px] xxs:h-[200px] print:h-[100px] mb-12 bg-dark"
  role="banner"
>
  <h1>
    <a href="/" aria-label="Home">
      <img
        alt="beta_interactive"
        src="/bi-logo.svg"
        class="absolute left-[17px] bottom-[20px]"
      /></a>
  </h1>
</header>