<head>
  <meta charset="UTF-8" />
  <meta name="author" content="beta_interactive / berlin" />
  <meta name="publisher" content="beta_interactive / berlin" />
  <meta
    name="verify-v1"
    content="Vt6AVhTSuMZ8/R2jphCIZ1AXrPoe9cP43+IkkY5Psyc="
  />

  <link rel="icon" href="favicon.png" type="image/png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>beta_interactive | design and development</title>
  <meta
    name="keywords"
    content="beta_interactive,beta interactive, beta-interactive, Web-Entwicklung, web development,Programmierung, frontend, application development, html, css, javascript, js, node.js, nodejs, TypeScript, Datenbank, database, backend, DB, MySQL, SQL, NoSQL, mongodb, Software-Development, CMS, Philipp Kyeck, react.js, react, redux"
  />
  <meta
    lang="en"
    name="description"
    content="beta_interactive / berlin design and development"
  />
  <link href="/main.css" rel="stylesheet" />
</head>